.root {
    background-color: rgb(var(--background-accent-color));
    box-shadow: inset 2px 2px 2px #141517, inset -2px -2px 2px #2c2e33;
    height: 32px;
    font-size: 16px;
    border: solid 1px transparent;
    padding: 0 8px;
    outline: none;
    border-radius: 4px;

    &:focus {
        border-color: rgb(var(--primary-color));
    }
}
