.newsItem {
  border: 1px solid rgb(var(--background-accent-color));
  border-radius: 8px;
  flex: 1 0 600px;
  cursor: pointer;
  padding: 1rem;
}

.title {
  font-size: 2rem;
}

.date {
  color: rgb(var(--foreground-accent-color) / 50%);
  font-size: 0.8rem;
}
