:root {
    --aside-width: 300px;
}

.main {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.aside {
    position: fixed;
    width: var(--aside-width);
    background-color: rgb(var(--background-color));
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
        font-weight: normal;
        padding: 4px 8px;
        display: inline-block;
        border-radius: 4px;
        transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

        &:hover,
        &.active {
            color: white;
            background: rgb(var(--primary-color));
        }
    }

    &Left {
        left: 0;
    }

    &Right {
        right: 0;
    }
}

.container {
    background-color: rgb(var(--background-accent-color));
    padding: 32px;
    width: calc(100% - var(--aside-width) * 2);
    border-radius: 16px;
    box-shadow: inset 0 0 5px 0px rgba(0, 0, 0, 0.2);
    margin: 0 auto 50px;

    h1 {
        margin-bottom: 16px;
        scroll-margin-top: 116px;
    }

    h2 {
        margin-top: 32px;
        margin-bottom: 8px;
        scroll-margin-top: 116px;
    }

    h3 {
        margin-top: 16px;
        margin-bottom: 8px;
        scroll-margin-top: 116px;
    }

    a {
        color: -webkit-link;
        text-decoration: underline;
    }

    img {
        max-width: 100%;
        border-radius: 16px;
        border: solid 2px rgb(var(--foreground-color));
        margin: 16px 0;
    }

    blockquote {
        background: rgb(var(--background-color) / 30%);
        border-left: 10px solid rgb(var(--primary-color));
        margin: 16px 0;
        padding: 8px 16px;

        p {
            font-weight: bold;
            display: inline;
        }
    }

    code {
        font-family: "Eurostile", sans-serif;
        font-size: 16px;
        font-weight: bold;
        background: rgb(var(--foreground-accent-color));
        color: rgb(var(--background-accent-color));
        padding: 2px 4px;
        margin: 2px 0;
        border-radius: 4px;
        display: inline-block;
    }
}

.menuItemTitle {
    margin-top: 16px;
    margin-bottom: 8px;
}

.heading {
    display: block;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

    &Level1 {
        font-size: 32px;

        &:not(:first-of-type) {
            margin-top: 32px;
        }
    }

    &Level2 {
        margin-top: 16px;
        padding: 4px 8px;
        border-radius: 4px;
        transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

        &:hover {
            color: white;
            background: rgb(var(--primary-color));
        }
    }

    &Level3 {
        margin-top: 16px;
        margin-left: 24px;
        padding: 4px 8px;
        border-radius: 4px;
        transition: background-color 100ms ease-in-out, color 100ms ease-in-out;

        &:hover {
            color: white;
            background: rgb(var(--primary-color));
        }
    }
}
