.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  backdrop-filter: blur(16px) saturate(180%);
  border-bottom: 1px solid rgb(var(--foreground-color) / 10%);
  background-color: rgb(var(--background-color) / 40%);
  height: 100px;
  z-index: 1;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

  &Guide {
    border: none;
    box-shadow: none;
  }
}

.left {
  display: flex;
  gap: 32px;
  align-items: center;
}

.logo {
  display: flex;
  gap: 16px;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.item {
  scale: 1;
  padding: 4px 8px;
  border-radius: 4px;
  transition: scale 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out;
  font-size: 20px;

  &Active,
  &:hover {
    background-color: rgb(var(--primary-color));
    color: rgb(233 236 239);
    scale: 1.2;
  }

  &Active {
    background-color: rgb(var(--primary-color) / 80%);
  }
}
