.container {
    text-align: center;
    padding: 16px;
    border-top: 1px solid rgb(var(--foreground-color) / 10%);
    background-color: rgb(var(--background-color) / 40%);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.2);
    height: 50px;
}
