@font-face {
  font-family: "Eurostile";
  src: url("/fonts/eurostile.eot");
  src: url("/fonts/eurostile.eot?#iefix") format("embedded-opentype"), url("/fonts/eurostile.woff2") format("woff2"),
    url("/fonts/eurostile.woff") format("woff"), url("/fonts/eurostile.ttf") format("truetype"),
    url("/fonts/eurostile.svg#Eurostile") format("svg");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: 25 112 194;
  --foreground-color: 0 0 0;
  --foreground-accent-color: 26 27 30;
  --background-color: 255 255 255;
  --background-accent-color: 233 236 239;
  --gradient: linear-gradient(to right bottom, #ffffff, #d7d7ef, #aab2e0, #7490d1, #1971c2);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: initial;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(var(--foreground-color));
  border-radius: 4px;
}

::-webkit-scrollbar-track-piece:end,
::-webkit-scrollbar-track-piece:start {
  background: transparent repeat-y !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: 255 255 255;
    --foreground-accent-color: 233 236 239;
    --background-color: 0 0 0;
    --background-accent-color: 26 27 30;
    --gradient: linear-gradient(to right bottom, #000000, #2c1925, #472e51, #4e4c88, #1971c2);
  }

  html {
    color-scheme: dark;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Eurostile", sans-serif;
  letter-spacing: 1.5px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  line-height: inherit;
  background-color: rgb(var(--background-color));
  color: rgb(var(--foreground-accent-color));
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
  line-height: 22px;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  margin-left: 16px;
}

li:not(:last-child) {
  margin-bottom: 8px;
}
